$black-primary: #151414;
$white-primary: #FEFEFE;
$gray-primary: #F6F6F6;
$red-color: #E62720;
$blue-color: #524CFF;

@mixin tag-text {
  line-height: 140%;
  font-size: 14px;
}

@mixin button-text {
  font-size: 16px;
}

@mixin main-text {
  line-height: 110%;
  font-size: 18px;
}

@mixin h5-text {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
}

@mixin h4-text {
  font-size: 22px;
  line-height: 120%;
  font-weight: 500;
}

@mixin h2-text {
  font-size: 28px;
  line-height: 110%;
  font-weight: 400;
}

@mixin h1-text {
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: 400;
}